target/
.idea/
.cache
*.iml
.class
.log
seachclient.iml
*.log
*.project
*.settings
.settings
.classpath
search-parent.iml
search-core/target
search-core/*.iml
search-core/*.class
search-core/.idea/
search-core/.cache
